<header class="header" [class.scrolled]="isScrolled">
  <div class="logo">
    <div class="logo-icon"></div>
    <span>Anima Psicología</span>
  </div>

<nav class="nav">
  <a routerLink="/" class="nav-link">Inicio</a>
  <a [routerLink]="['/login']" class="btn-login">Iniciar Sesión</a>
  <a [routerLink]="['/register']" class="btn-registro">Registrarse</a>
</nav>

  <div class="menu-toggle" [class.active]="menuOpen" (click)="toggleMenu()">
    <span></span><span></span><span></span>
  </div>
</header>
